<div>
    <h1 class="col-sm-12 text-center">Representadas</h1>

    <button class="btn btn-primary btn-md pull-right"
            ng-click="vm.addFlag = true; vm.maxContacts = 1; vm.represented.contato = []"
            ng-hide="vm.detailed || vm.addFlag">Adicionar Nova Representada</button>

    <button class="btn btn-danger btn-md pull-right" ng-hide="vm.detailed || !vm.addFlag"
            ng-click="vm.addFlag=false; vm.represented = {}; vm.maxContacts = 1">Cancelar</button>

    <!----------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
    <!-- List representeds -->
    <div class="list-container">
        <table class="table table-bordered table-striped table-hover table-condensed" ng-hide="vm.detailed || vm.addFlag">
            <th class="col-sm-7 text-center">Nome Fantasia</th>
            <th class="col-sm-4 text-center">CNPJ</th>
            <th class="col-sm-1 text-center">Remover</th>

            <!-- New row for each represented -->
            <tr class="text-center" ng-repeat="represented in vm.representeds">
                <!-- Display data -->
                <td style="cursor: pointer; vertical-align: middle;"
                    ng-click="vm.showDetails(represented)">{{represented.empresa.nome_fantasia}}</td>
                <td style="cursor: pointer; vertical-align: middle;"
                    ng-click="vm.showDetails(represented)">{{represented.empresa.cnpj}}</td>

                <!-- Buttons -->
                <td class="text-center">
                    <!-- Control -->
                    <button class="btn btn-danger" ng-click="vm.remove(represented)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Add new represented -->
    <div class="create-container" ng-hide="vm.detailed" ng-if="vm.addFlag">
        <div class="form-horizontal">
            <h2>Dados Empresariais</h2>
            <div class="form-group">
                <label class="control-label col-sm-2" for="nome_fantasia">Nome Fantasia</label>
                <div class="col-sm-10">
                    <input required type="text" id="nome_fantasia" class="form-control"
                           ng-model="vm.represented.empresa.nome_fantasia" placeholder="Nome Fantasia" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="razao_social">Razão Social</label>
                <div class="col-sm-10">
                    <input required type="text" id="razao_social" class="form-control"
                           ng-model="vm.represented.empresa.razao_social" placeholder="Razão Social" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cnpj">CNPJ</label>
                <div class="col-sm-10">
                    <input required type="text" id="cnpj" class="form-control"
                           ng-model="vm.represented.empresa.cnpj" placeholder="CNPJ" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="insc_estadual">Inscrição Estadual</label>
                <div class="col-sm-10">
                    <input required type="text" id="insc_estadual" class="form-control"
                           ng-model="vm.represented.empresa.insc_estadual" placeholder="Inscrição Estadual" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="comissao">Comissão (%)</label>
                <div class="col-sm-10">
                    <input required type="number" min="0" max="100" step="1" id="comissao" class="form-control"
                           ng-model="vm.represented.comissao" placeholder="Comissão (0-100)" />
                </div>
            </div>

            <hr>
            <h2>Endereço</h2>
            <div class="form-group">
                <label class="control-label col-sm-2" for="end.principal">Endereço</label>
                <div class="col-sm-10">
                    <input required type="text" id="end.principal" class="form-control"
                           ng-model="vm.represented.endereco.principal" placeholder="Endereço" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="end.complemento">Complemento</label>
                <div class="col-sm-10">
                    <input type="text" id="end.complemento" class="form-control"
                           ng-model="vm.represented.endereco.complemento" placeholder="Complemento" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="end.referencia">Referência</label>
                <div class="col-sm-10">
                    <input type="text" id="end.referencia" class="form-control"
                           ng-model="vm.represented.endereco.referencia" placeholder="Ponto de Referência" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="end.bairro">Bairro</label>
                <div class="col-sm-10">
                    <input required type="text" id="end.bairro" class="form-control"
                           ng-model="vm.represented.endereco.bairro" placeholder="Bairro" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="end.cep">CEP</label>
                <div class="col-sm-10">
                    <input required type="text" id="end.cep" class="form-control"
                           ng-model="vm.represented.endereco.cep" placeholder="00000-000" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="end.estado">UF</label>
                <div class="col-sm-10">
                    <select required id="end.estado" class="form-control"
                            ng-model="vm.represented.endereco.estado"
                            ng-change="vm.cities = vm.setCurrentState(vm.represented.endereco.estado, 0)">
                        <option ng-repeat="state in vm.states"
                                value="{{state.codigo}}">{{state.uf.toUpperCase()}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="end.cidade">Cidade</label>
                <div class="col-sm-10">
                    <select required id="end.cidade" class="form-control"
                            ng-model="vm.represented.endereco.cidade">
                        <option ng-repeat="city in vm.cities"
                                value="{{city.codigo}}">{{city.nome.toUpperCase()}}</option>
                    </select>
                </div>
            </div>

            <hr>
            <div ng-repeat="n in range(1, vm.maxContacts)">
                <div class="form-group">
                    <h2 class="col-sm-2">Contato {{n}}</h2>

                    <div class="col-sm-10" ng-if="n > 1">
                        <div class="col-sm-1 btn btn-lg btn-danger" ng-click="vm.removeContact(vm.represented, n);">
                            <span class="glyphicon glyphicon-minus"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cont.{{n}}.nome">Pessoa de Contato</label>
                    <div class="col-sm-10">
                        <input type="tel" id="cont.{{n}}.nome" class="form-control"
                               ng-model="vm.represented.contato[n-1].nome" placeholder="Nome da pessoa para contato" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cont.{{n}}.telefone">Telefone</label>
                    <div class="col-sm-10">
                        <input type="tel" id="cont.{{n}}.telefone" class="form-control"
                               ng-model="vm.represented.contato[n-1].telefone" placeholder="(XX) XXXXX-XXXX" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cont.{{n}}.tipo">Tipo</label>
                    <div class="col-sm-10">
                        <select id="cont.{{n}}.tipo" class="form-control"
                                ng-model="vm.represented.contato[n-1].tipo">
                            <option value=0>Fax</option>
                            <option value=1>Fixo</option>
                            <option value=2>Celular</option>
                            <option value=3>Celular / WhatsApp</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cont.{{n}}.email">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" id="cont.{{n}}.email" class="form-control"
                               ng-model="vm.represented.contato[n-1].email" placeholder="a@a.com" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="checkbox" id="cont.{{n}}.principal" autocomplete="off"
                               ng-model="vm.represented.contato[n-1].principal" style="display: none;" />
                        <div class="[ btn-group ]">
                            <label for="cont.{{n}}.principal" class="[ btn btn-primary ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="cont.{{n}}.principal" class="[ btn btn-default active ]">
                                Contato Principal?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="n === vm.maxContacts">
                    <div class="col-sm-2 btn btn-lg btn-primary"
                         ng-click="vm.maxContacts = vm.maxContacts + 1; vm.represented.contato[n] = {}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-success btn-lg" ng-click="vm.add(vm.represented)"
                        ng-disabled="!vm.enableAddButton(vm.represented)">Adicionar</button>
                <button class="btn btn-danger btn-lg"
                        ng-click="vm.addFlag=false; vm.represented = {}; vm.maxContacts = 1">Cancelar</button>
            </div>
            <br>
            &nbsp;
        </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Show details of a represented -->
    <div class="details-container p-3" ng-if="vm.detailed">
        <div class="btn btn-primary btn-lg" ng-click="vm.cancelDetailedView()">Retornar</div>

        <div class="form-horizontal">
            <h2>Dados Empresariais</h2>
            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.nome_fantasia">Nome Fantasia</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.nome_fantasia" class="form-control"
                           ng-model="vm.currentRepresented.empresa.nome_fantasia" placeholder="Nome Fantasia" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.razao_social">Razão Social</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.razao_social" class="form-control"
                           ng-model="vm.currentRepresented.empresa.razao_social" placeholder="Razão Social" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.cnpj">CNPJ</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.cnpj" class="form-control"
                           ng-model="vm.currentRepresented.empresa.cnpj" placeholder="CNPJ" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.insc_estadual">Inscrição Estadual</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.insc_estadual" class="form-control"
                           ng-model="vm.currentRepresented.empresa.insc_estadual" placeholder="Inscrição Estadual" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.comissao">Comissão (%)</label>
                <div class="col-sm-10">
                    <input required type="number" min="0" max="100" step="1" id="cur.comissao" class="form-control"
                           ng-model="vm.currentRepresented.comissao" placeholder="Comissão (0-100)" />
                </div>
            </div>

            <hr>
            <h2>Endereço</h2>
            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.principal">Endereço</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.end.principal" class="form-control"
                           ng-model="vm.currentRepresented.endereco.principal" placeholder="Endereço" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.complemento">Complemento</label>
                <div class="col-sm-10">
                    <input type="text" id="cur.end.complemento" class="form-control"
                           ng-model="vm.currentRepresented.endereco.complemento" placeholder="Complemento" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.referencia">Referência</label>
                <div class="col-sm-10">
                    <input type="text" id="cur.end.referencia" class="form-control"
                           ng-model="vm.currentRepresented.endereco.referencia" placeholder="Ponto de Referência" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.bairro">Bairro</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.end.bairro" class="form-control"
                           ng-model="vm.currentRepresented.endereco.bairro" placeholder="Bairro" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.cep">CEP</label>
                <div class="col-sm-10">
                    <input required type="text" id="cur.end.cep" class="form-control"
                           ng-model="vm.currentRepresented.endereco.cep" placeholder="00000-000" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.estado">UF</label>
                <div class="col-sm-10">
                    <select required id="cur.end.estado" class="form-control"
                            ng-model="vm.currentRepresented.endereco.estado"
                            ng-change="vm.setCurrentState(vm.currentRepresented.endereco.estado, 0)">
                        <option ng-repeat="state in vm.states"
                                value="{{state.codigo}}">{{state.uf.toUpperCase()}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cur.end.cidade">Cidade</label>
                <div class="col-sm-10">
                    <select required id="cur.end.cidade" class="form-control"
                            ng-model="vm.currentRepresented.endereco.cidade">
                        <option ng-repeat="city in vm.cities"
                                value="{{city.codigo}}">{{city.nome.toUpperCase()}}</option>
                    </select>
                </div>
            </div>

            <hr>
            <div ng-repeat="n in range(1, vm.maxContacts)">
                <div class="form-group">
                    <h2 class="col-sm-2">Contato {{n}}</h2>

                    <div class="col-sm-10" ng-if="n > 1">
                        <div class="col-sm-1 btn btn-lg btn-danger"
                             ng-click="vm.removeContact(vm.currentRepresented, n);">
                            <span class="glyphicon glyphicon-minus"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cur.cont.{{n}}.nome">Pessoa de Contato</label>
                    <div class="col-sm-10">
                        <input type="tel" id="cur.cont.{{n}}.nome" class="form-control"
                               ng-model="vm.currentRepresented.contato[n-1].nome"
                               placeholder="Nome da pessoa para contato" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cur.cont.{{n}}.telefone">Telefone</label>
                    <div class="col-sm-10">
                        <input type="tel" id="cur.cont.{{n}}.telefone" class="form-control"
                               ng-model="vm.currentRepresented.contato[n-1].telefone" placeholder="(XX) XXXXX-XXXX" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cur.cont.{{n}}.tipo">Tipo</label>
                    <div class="col-sm-10">
                        <select id="cur.cont.{{n}}.tipo" class="form-control"
                                ng-model="vm.currentRepresented.contato[n-1].tipo">
                            <option value=0>Fax</option>
                            <option value=1>Fixo</option>
                            <option value=2>Celular</option>
                            <option value=3>Celular / WhatsApp</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cur.cont.{{n}}.email">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" id="cur.cont.{{n}}.email" class="form-control"
                               ng-model="vm.currentRepresented.contato[n-1].email" placeholder="a@a.com" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="checkbox" id="cur.cont.{{n}}.principal" autocomplete="off"
                               ng-model="vm.currentRepresented.contato[n-1].principal" style="display: none;" />
                        <div class="[ btn-group ]">
                            <label for="cur.cont.{{n}}.principal" class="[ btn btn-primary ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="cur.cont.{{n}}.principal" class="[ btn btn-default active ]">
                                Contato Principal?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="n === vm.maxContacts">
                    <div class="col-sm-2 btn btn-lg btn-primary"
                         ng-click="vm.maxContacts = vm.maxContacts + 1; vm.currentRepresented.contato[n] = {}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-success btn-lg" ng-click="vm.update(vm.currentRepresented)"
                        ng-disabled="!vm.enableAddButton(vm.currentRepresented)">Atualizar</button>
                <button class="btn btn-danger btn-lg" ng-click="vm.cancelDetailedView()">Cancelar</button>
            </div>
            <br>
            &nbsp;
        </div>
    </div>
</div>